* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular'
}

a {
    text-decoration: none;
    color: black;
}

/* --- Header --- */

header {
    background-color: cadetblue;
    padding: 5vh;
}
header h1 {
    display: inline-block;
    width: 80%;
}

header nav {
    display: inline-block;
}

header ul li {
    display: inline-block;
    margin-right: 15px;
}

/* --- Productos --- */

#listadoDeProductos {
  display: flex;
  justify-content: center;
  text-align: center;
}

#listadoDeProductos div{
    background-color: rgb(74, 126, 128);
    color: white;
    display: inline-block;
    margin: 10vh;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    border: 8px solid rgba(0, 0, 0, 0.485);
    overflow: hidden;
}

#listadoDeProductos img {
    width: 100%;
}

#listadoDeProductos h2 {
    padding: 3%;
    text-align: center;
}

#listadoDeProductos h3 {
    font-size: 1.6rem;
    display: block;
    text-align: center;
}

#listadoDeProductos button {
    background-color: rgb(74, 126, 128);
    padding: 8px 10px;
    display: inline-block;
    color: black;
    margin: 15px 20px;
    border: 2px solid black;
    border-radius: 20px;
}

#listadoDeProductos span {
  background-color: red;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5em;
}
